BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11
ColumnLimit: 80
TabWidth: 2
UseTab: Never
MaxEmptyLinesToKeep: 2
AccessModifierOffset: -2
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
IndentCaseLabels: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
